<main>
  <%- include('../partials/donorSidebar') %>

  <div id="main-wrapper">
    <div class="bg-white shadow-sm p-3">
      <span class="me-3" id="sidebar-toggler-btn"
        ><i class="fas fa-bars"></i
      ></span>
      <h5 class="m-0 color-theme d-inline-block">Dashboard</h5>
    </div>

    <div class="d-flex gap-3 flex-wrap m-4 text-white">
      <div
        class="bg-success rounded p-3"
        style="
          width: 100%;
          background-color: rgba(128, 128, 128, 0.1) !important;
          border: 2px solid rgb(43, 0, 255) !important;
        "
      >
        <div class="fs-1" style=" color: #141E46;"><%= numCollectedDonations %></div>
        <div class="fs-5" style="font-size: 1.25rem !important; color: #141E46;">donations by you</div>
      </div>

      <div
        class="bg-primary rounded p-3"
        style="
          width: 250px;
          background-color: rgba(128, 128, 128, 0.1) !important;
          border: 2px solid rgb(255, 0, 0) !important;
        "
      >
        <div class="fs-1" style=" color: #141E46;" ><%= numPendingDonations %></div>
        <div class="fs-5" style="font-size: 1.25rem !important; color: #141E46;">donation requests not processed yet</div>
      </div>

      <div
        class="bg-success rounded p-3"
        style="
          width: 250px;
          background-color: rgba(128, 128, 128, 0.1) !important;
          border: 2px solid rgb(255, 230, 0) !important;
        "
      >
        <div class="fs-1" style=" color: #141E46;"><%= numAcceptedDonations %></div>
        <div class="fs-5" style="font-size: 1.25rem !important; color: #141E46;">donations accepted and to be assigned to agent</div>
      </div>

      <div
        class="bg-danger rounded p-3"
        style="
          width: 250px;
          background-color: rgba(128, 128, 128, 0.1) !important;
          border: 2px solid rgb(255, 187, 0) !important;
        "
      >
        <div class="fs-1" style=" color: #141E46;"><%= numAssignedDonations %></div>
        <div class="fs-5" style="font-size: 1.25rem !important; color: #141E46;">donations not collected yet</div>
      </div>
    </div>
  </div>
</main>
